<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Camp</h1>
    <div class="col-6 offset-3">
        <form action="/camp" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-2">
                <label class="form-label " for="name">name</label>
                <input type="text" class="form-control" id="name" name="name" required >
            </div>
            <div class="mb-2">
                <label class="form-label " for="price">price</label>
                <input class="form-control " type="text" id="price" name="price" required>
            </div>
            <div class="mb-2">
                <label class="form-label " for="location">location</label>
                <input class="form-control " type="text" id="location" name="location" required>
            </div>
            <div class="mb-2">
                <label class="form-label " for="image">image url</label>
                <input class="form-control " type="file" id="image" name="img" required multiple>
            </div>
            <div class="mb-2">
                <label class="form-label " for="descripton">description</label>
                <input class="form-control " type="text-area" id="description" name="description" required>
            </div>
            <button class=" btn btn-success">submit</button>
        </form>
    </div>
</div>


